*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 30px;
}

body{
    background-color:rgb(241, 241, 215);
    width: 1300px;  /*ancho de la página*/
    border:6px solid rgb(236, 188, 188);
    margin: 0 auto;
}

header{
    height: 100;
    background-color:white;
}

h1{
    color:black;
    text-align: left;
    padding-top: 40px;
}

h2{
    color: black;
    text-align:left;
    padding-top: 30px;
}

h3{
    color:black;
    text-align:left;
    padding-top: 30px;
}

img{
    width: 400px; /*ancho de imagen*/
}

/* ------------------------- MENÚ ------------------------- */

nav{
    background: black;
    height: 40px;   /*Alto del menú*/
    text-align:center;
}

nav ul li{
    display: inline; /*Pone todos los elementos en la misma línea*/
    list-style: none;   /*Quita las viñetas de la lista*/
}

nav ul li a{
    text-decoration: none;  /*Quita el subrayado de los enlaces*/
    color: white;
    background:plum;
    line-height: 70px;
    padding: 13px;
    margin-right: 15px;
    border-radius: 8px;
    box-shadow:10px 5px 5px black; /*Añade sombra al contenedor*/
}

nav ul li a:hover{   /*Cambia el contenedor al pasar el mouse por encima*/
    color:purple;
    background:rgb(212, 119, 212);
    box-shadow: 0 0 0 #000;
}

/* --------------------- IDENTIFICADORES -------------------- */


#fondo-header{
    background:rgb(241, 241, 215);
}


/* ------------------------- CLASES ------------------------- */

.imgTitulo{
    width: 1000px;
}

.otra{
    width: 700px;
}

.gris{
    background:none;
    width: 800px;
}

.imgCenter{
    text-align: center;
}